{% extends 'baseprincipal.html' %}
  {% block content %}
    {% if status %} 
    <div class="limiter">
      <div class="container-login200">
        <!-- <div class="wrap-login200"> -->
          <h1 class="novocentro">NÍVEL CRÍTICO ATINGIDO</h1>
          <div class="row table-responsive">
          </div>
        </div>
      </div>
    </div>  
    {% endif %}
    <table class="striped table table-status">
      <thead>
      <tr>
        <th>id</th>
        <th>Leitura</th>
        <th>Hora</th>
      </tr>
      </thead>
      <tbody>
        {% for data in umidade %}
        <tr>
          <td>{{ data[0] }}</td> 
          <td>{{ data[1] }}%</td> 
          <td>{{ data[2] }}</td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}

