{% extends 'base.html' %}
  {% block content %}
    
    <form class="login100-form validate-form" action="" method="post">
      <span class="login100-form-title">
        Faça Login
      </span>
      <div>
        <input type="text" placeholder="Usuário" name="username" value="{{
          request.form.username }}">
        <span class="focus-input100"></span>
        <input type="password" placeholder="Senha" name="password" value="{{
          request.form.password }}">
        <div class="container-login100-form-btn">
          <input class="btn btn-default" type="submit" value="Login">
        </div>
      </div>
    </form>       
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}

{% endblock %}